.BreadTop {
  height: 20%;
  width: 80%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  margin: 1% auto;
  position: relative;
}

.Salad {
  width: 90%;
  height:5%;
  background: linear-gradient(#228c1d, #91ce50);
  margin: 1% auto;
  border-radius: 20px;
  box-shadow: inset -15px 0 #228c1d;  
}

.Bacon {
  width: 80%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 1% auto;
  box-shadow: inset -15px 0 #ae2702;  
}

.Cheese {
  width: 88%;
  height: 4%;
  background: linear-gradient(#f4d004, #d6bb22);
  margin: 1% auto;
  box-shadow: inset -15px 0 #e5aa11;
  border-radius: 20px;
}

.Meat {
  width: 82%;
  height: 10%;
  background: linear-gradient(#7f3608, #702e05);
  margin: 1% auto;
  box-shadow: inset -15px 0 #601d04;
  border-radius: 15px;
}

.BreadBottom {
  height: 13%;
  width: 80%;
  background: linear-gradient(#f08e4a, #e27b36);
  margin:1% auto;
  box-shadow: inset -15px 0 #c15711;
  border-radius: 0 0 20px 20px;
}

.Seeds1 {
  position: absolute;
  width: 10%;
  height: 15%;
  background-color: white;
  left: 30%;
  top:50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}
.Seeds1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: -170%;
  top: -260%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px #c9c9c9;
}

.Seeds1:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 180%;
  top: -50%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px #c9c9c9;
}

.Seeds2 {
  position: absolute;
  width: 10%;
  height: 15%;
  background-color: white;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0px #c9c9c9;
}

.Seeds2:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 150%;
  top: -130%;
  border-radius: 90%;
  transform: rotate(60deg);
  box-shadow: inset -1px 3px #c9c9c9;
}